# Keep the image context limited to files copied by Dockerfile.
*
!Dockerfile
!build/
build/*
!build/output/
build/output/*
!build/output/flowsql
!build/output/lib*.so
!build/output/static/
!build/output/static/**
!build/output/static/index.html
!build/output/static/vite.svg
!build/output/static/assets/
!build/output/static/assets/*
!.thirdparts_installed/
.thirdparts_installed/*
!.thirdparts_installed/yaml-cpp/
.thirdparts_installed/yaml-cpp/*
!.thirdparts_installed/yaml-cpp/lib/
!.thirdparts_installed/yaml-cpp/lib/libyaml-cpp.so.0.9.0
!config/
config/*
!config/docker/
!config/docker/flowsql.yml
!src/
src/*
!src/python/
!src/python/**
src/python/**/*.egg-info/
src/python/**/__pycache__/
!src/plugins/
src/plugins/*
!src/plugins/npi/
src/plugins/npi/*
!src/plugins/npi/conf/
!src/plugins/npi/conf/protocols.yml
